---
title: projects
description: some of Edward Li's projects
stylesheet: true
---
{% include menu.html %}
<!DOCTYPE html>
<html>
	<head>
		<title>projects</title>

		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/background.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/content.css">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/projects.css">
	</head>

	<body>
		<div id="projects" class="content">
			<h1>projects</h1>
			<ul>
				<li>
					<a href="https://github.com/theedwardli/theedwardli.github.io" target="_blank">this website</a>
				</li>
				<li>
					<a href="https://www.thiswayforward.us/" target="_blank">a podcast about coming of age in Trump's America</a>
				</li>
				<li>
					<a href="https://github.com/theedwardli/outline-push-notifications" target="_blank">a mobile push notification system for The Outline</a>
				</li>
				<li>
					<a href="https://github.com/theedwardli/gun-tweets" target="_blank">a Twitter bot that tracks gun violence in the U.S.</a>
				</li>
			</ul>
			<br>
			{% include footer.html %}
		</div>
	</body>
</html>

